<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Home' }); %>
<body>
    <%- include('partials/nav'); %>
    <main class="box">


        <div class="container">
            <h2>Sports News</h2>
          <div id="news-container" class="news-container">
            <% if (sports.length > 0) { %>
              <% sports.forEach(newsItem => { %>
                <div class="news-item">
                  <h3> <strong>Title: <%= newsItem.title %> </strong></h3>
                  <p><strong>Content: </strong><%= newsItem.content %></p>
                  <p class="category"><strong>category: </strong><%= newsItem.category %></p>
                  <small class="date"><%= new Date(newsItem.date).toLocaleDateString() %></small>
                </div>
              <% }) %>
            <% } else { %>
              <p>No news available at the moment.</p>
            <% } %>
          </div>
        </div>
      </main>
    
      <footer>
        <%- include('partials/footer') %>
      </footer>

    
</body>
</html>